@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  @apply bg-slate-50 text-slate-900;
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
